.user-container {
  height: 15%;
  padding-left: 40px;
  background-color: aliceblue;
  display: flex;
  margin: 35px 0 0;
  border-radius: 25px;
}
.info {
  margin: 0;
  padding: 0;
  width: 30%;
}
.image {
  width: 20%;
}
.image img {
  height: 50%;
  width: 100%;
}
